
@{
    ViewBag.Title = "Dashboard";
}

<h2>Dashboard</h2>
<a href="/Employee/ManageEmployee" class="btn btn-success">Manage Employees</a>
<a href="/Restaurant/ManageRestaurants" class="btn btn-success">Manage Restaurants</a>
<a href="/Admin/CollectionRequests" class="btn btn-success">Collection Requests</a>
<a href="/Admin/Logout" class="btn btn-success">Logout</a>