
@{
    ViewBag.Title = "Dashboard";
}

<h2>Dashboard</h2>
<a href="/Employee/MyCollectionRequest" class="btn btn-success">Assigned Collection</a>
<a href="/Employee/Logout" class="btn btn-success">Logout</a>

