
@{
    ViewBag.Title = "Dashboard";
}

<h2>Dashboard</h2>
<a href="/Restaurant/CollectionRequest" class="btn btn-success">Collection Requests</a>
<a href="/Restaurant/Logout" class="btn btn-success">Logout</a>